html {
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	font-weight:600;
	margin-left: 5px;
	margin-right: 5px;
}
label {
	font-weight: bold;
}
input {
	width: auto !important;
}
select {
	width: auto !important;
}
legend {
	width: fit-content;
	font-weight: bold;
	font-size: larger;
	padding-right: 10px;
	padding-left: 10px;");
}
fieldset {
	padding-bottom: 2.5em;
	padding-left: 1em;
	border:1px solid #ced4da;
}
.st-eachfield.st-row {
	display: inline-flex;
	align-items: center;
	margin-top: 1.5em;
	margin-right: 2.5em;
}
parentwrapper {
	float: left;
	display: inline-flex;
}
.st-error-msg {
	font-size: x-small;
	color: red;
	margin-left: 5px;
}
.st-date-picker-num {
	display: inline-block;
	text-align: right;
	position: inherit !important;
}
.st-combo-box {
	min-width: 70px;
}
.st-array-widget {
	text-align: right;
	cursor: pointer;
	border-style: none;
	background: none;
	margin-right: 5px;
}
.st-array-btn {
	margin-left: 4px;
}
.bx-wrapper {
	margin-bottom: 0px !important;
}
.bx-wrapper img {
	// display: inline-block !important;
}